/*
 * Voice & Ink - Styles
 *
 * Copyright 2013 Voice & Ink
 *
 * Developer: Matt Strick (matt@mattstrick.com)
 */
 
body,
a,
a:visited{
	color: #2C285D;
}

a:hover {
	color: #58595B;
}

hr {
    border-bottom: 5px dotted #2C285D;
}
 
#header {
	background: #2C285D; /* Todo: Change to image after testing */
	
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

	#header ul {
		margin-top: 80px;
	}

	/* Voice And Ink Logo */
	#header h2 {
		text-indent: -999em;
		background: url(../img/logo.png) no-repeat;
		height: 100px;
		width: 150px;
		float: left;
	}
	
	/* Main Navigation */
	#header #navigation {
		font-size: 20px;			
	}
		
		#header #navigation a{
			color: #fff;	
			padding: 0;
			margin:7px 12px 0 12px;
		}
		
		#header #navigation a:hover {
			border-bottom: 5px dotted #fff;
		}

	/* Social Icons */
	#header #social li {
		margin-right: 10px;
	}
	
	#header #social a {
		text-indent: -9999em;
	}
	
	.facebook  a{
		background: url(../img/social_facebook.png) no-repeat;			
	}
	
	.twitter  a{
		background: url(../img/social_twitter.png) no-repeat;			
	}
	
	.email  a{
		background: url(../img/social_email.png) no-repeat;			
	}

#content {
	margin-top: 120px; /* Compensates for the height of the header */
	padding-top: 60px;	
}

	/* Icons */
	#content .event,
	#content .campers,	
	#content .ourstory,
	#content .pro,
	#content .romantic,
	#content .yourstory {
		background: url(../img/pictogram_happycampers.png) no-repeat;
		height: 150px;
		width: 150px;
	}
		
	#content .campers  {
		background: url(../img/pictogram_happycampers.png) no-repeat;
	}	
	
	#content .yourstory {
		background: url(../img/pictogram_yourstory.png) no-repeat;
	}

	#content .romantic {
		background: url(../img/pictogram_romantic.png) no-repeat;
	}
	
	#content .pro {
		background: url(../img/pictogram_pro.png) no-repeat;
	}
	
	#content .ourstory  {
		background: url(../img/pictogram_ourstory.png) no-repeat;
	}
	
	#content .event  {
		background: url(../img/pictogram_event.png) no-repeat;
	}

#footer {
	margin-top:	15px;
}

	#footer #footerContent {
		border-top: 5px dotted #2C285D;
	}
	
	#footer a{
		font-weight: bold;
	}