/*!
 * Voice & Ink - Styles
 *
 * Copyright 2013 Voice & Ink
 *
 * Developer: Matt Strick (matt@mattstrick.com)
 */
 
#header {
	background: #fff; /* Todo: Change to image after testing */
	border: 1px solid;
}

#content {
	margin-top: 100px;
}